<!-- Mat card zero padding -->
<mat-card class="left" [style.padding]="0">
  <mat-card-content>
    <div class="flex" [style.overflow-x]="'auto'">
      <div
        *ngFor="let team of (info | async)?.teams"
        [style.background-color]="team.color + '44'"
        class="tile"
        [@highlight]="(highlight | async).get(team.uid)"
        (@highlight.done)="resetHighlight.next()"
      >
        <p class="team-name">{{ team.name }}</p>

        <div></div>
        <!-- <div [style.background-color]="team.color" class="logo">
          <img src="{{ teamLogo(team) }}" />
        </div> -->
        <div *ngIf="(state | async)?.taskStatus === 'ENDED' || (state | async)?.taskStatus === 'RUNNING'">
          <div class="score-container">
           
            <p class="counter">
              <span class="CORRECT score-box">{{ correctSubmissions(team.id) | async }}</span> 
              <span class="WRONG score-box">{{ wrongSubmissions(team.id) | async }}</span> 
              <!-- <span class="INDETERMINATE score-box">{{ indeterminate(team.uid) | async }}</span> -->
            </p>
            <p class="score score-box" *ngIf="scores | async">
              {{ (scores | async).get(team.id) | number: '1.0-0' }}
            </p>
          </div>

          <!-- <div class="submissions">
            <div
              *ngFor="let submission of submissionForTeam(team.uid) | async; trackBy: trackSubmission"
              [className]="'submission ' + submission.status"
            >
              <img
                *ngIf="submission.id"
                [src]="previewForSubmission(submission) | async"
                [matTooltip]="tooltipForSubmission(submission)"
              />
              <p *ngIf="!submission.id">?</p>
            </div>
          </div> -->
        </div>

        <audio #audio_correct src="/immutable/assets/audio/correct.ogg" [muted]="(config.configAsObservable | async).effects.mute" hidden></audio>
        <audio #audio_wrong src="/immutable/assets/audio/wrong.ogg" [muted]="(config.configAsObservable | async).effects.mute" hidden></audio>
        <audio #audio_applause src="/immutable/assets/audio/applause.ogg" [muted]="(config.configAsObservable | async).effects.mute" hidden></audio>
        <audio #audio_trombone src="/immutable/assets/audio/sad_trombone.ogg" [muted]="(config.configAsObservable | async).effects.mute" hidden></audio>
      </div>
    </div>
  </mat-card-content>
</mat-card>
